---
layout: default
title: Inicio
---
<div class="jumbotron text-center">
  <h1><a href="{{site.baseurl}}/los-datos-del-misteri/">Los datos del misteri</a></h1>
<p class="lead">El Misteri es emoción y tradición, pero también se puede representar a partir de sus principales datos. Aquí repasamos algunos de los más importantes, especialmente sobre sus desplazamientos, su trayectoria y el papel de la mujer
</p>
</div>
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Historias</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

          {% unless post.categories and post.categories contains "sumario" %}

               {% include postbox.html %}          

            {% endunless %}
    
        {% endfor %}
        
    </div>
    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

