---
layout: default
title: Inicio
---
<div class="jumbotron text-center">
  <h1><a href="{{site.baseurl}}/así-ganó-terreno-la-derecha-el-10n-en-las-calles-de-elche/">Así ganó terreno la derecha el 10N en las calles de Elche</a></h1>
<p class="lead">Vox se adueñó de la mayor parte de las secciones censales dominadas por Ciudadanos en el extrarradio ilicitano y el PP ganó terreno al PSOE en el centro de la ciudad en las últimas Elecciones Generales</p>
</div>
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Historias</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postbox.html %}          

        {% endfor %}
        
    </div>
    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

