---
layout: default
title: Inicio
---
<div class="jumbotron text-center">
  <h1><a href="{{site.baseurl}}/el-cambio-calle-a-calle/">El cambio del voto de los ilicitanos, calle a calle</a></h1>
<p class="lead">El apoyo al bloque de la izquierda creció en todas las zonas de Elche, pero a costa de un retroceso de Podemos y Compromís frente al auge del PSOE. En la derecha, el descenso de PP contrastó con el empuje de Ciudadanos y Vox en gran parte del territorio ilicitano</p>
</div>

<section class="recent-posts">

    <div class="section-title">

        <h2><span>Historias</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postbox.html %}          

        {% endfor %}
        
    </div>
    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

